# Virtual environment
env/
venv/
.venv/

# Environment variables / secrets
.env

# Python cache
__pycache__/
*.pyc

# Django database
db.sqlite3

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db